 @import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Barlow, Veranda, sans-serif;
    line-height: 1.5;
}

ul{
    list-style: none;
}

li{
    float:left;
    margin-top: 2.5%;
}

img {
    width: 90%;
    transition: transform 0.2s ease-out;
}

img:hover{
    transform: rotate(10deg);
    z-index: 40;
}

picture {
    width:90%
}

@media screen and (min-width: 600px){
    li{
        width: 50%;
    }
}

@media screen and (min-width: 1201px){
    li {
        width: 25%;
    }
}